<h1>About Jungle</h1>
<p>Founded by Beff Jezos in 1998, Jungle has quickly risen to prominence as the premier e-commerce solution. Powered by innovative "employee encouragement methods" to keep productivity high and a dynamic tax-optimization strategy, Jungle continues to integrate itself into every facet of the happy consumer's lifestyle.</p>
